@import "tailwindcss";
@plugin "daisyui";
/* Add Global Css */
#btn {
  background-color: purple;
  color: white;
  padding: 10px 26px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

#btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* shape */
 #triangle-up {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
    
    }
body {
  background-color: black;
  color: white;
}
